/* src/public/stylesheets/index.less */

@font-face {
  font-family: "gibsonSemiBold";
  font-weight: normal;
  src: url("../fonts/Gibson-SemiBold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Gibson-SemiBold-webfont.woff") format("woff"),
       url("../fonts/Gibson-SemiBold-webfont.ttf") format("truetype"),
       url("../fonts/Gibson-SemiBold-webfont.svg") format("svg");
}

@font-face {
  font-family: "gibsonRegular";
  font-weight: normal;
  src: url("../fonts/Gibson-Regular-webfont.svg") format("svg");
}

//import bootstrap
@import "bootstrap.less";


// rules

html { min-height: 100%; }

body {
  font-family: "gibsonRegular", "Arial", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}
h2 {
  margin-top:50px;
}

.dl-horizontal dt {
  text-align:left;
}

.navbar-default {

  .navbar-nav > .active > a,
  .navbar-nav a:hover,
  .navbar-nav > .active > a:focus {
    text-decoration:underline
  }
}

.btn, .navbar-nav, .navbar-brand {
  font-family:@font-family-sans-serif;
  text-transform: uppercase;
}
.btn-block {
  white-space:inherit;
  margin-bottom:5px;
}

.btn.alternative {
  text-align:left;
  padding-left:25px;
  padding-right:25px;
}

.lead {
  margin-top:20px;
}

.share {
  margin-bottom:20px;
}

.container {

  .header {
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

}

.page-header {
  text-align: center;
  border:none;
  margin:0;

  p {
    font-size: 150%;
  }
}

.share {
  width:48px;
  height:48px;
  text-indent: -9999px;
  display:inline-block;

  &.share-facebook {
    background: url('/images/share-facebook.png') no-repeat;
  }
  &.share-twitter {
    background: url('/images/share-twitter.png') no-repeat;
  }
  &.share-google {
    background: url('/images/share-google.png') no-repeat;
  }
}

#highscore-table {
  thead {
    background-color: #f5f5f5;
  }
}
// #highscore-quiz-selector {
//   position: absolute;
//   right: 0px;
//   top: 0px;
// }

audio.asset, .assets {
  display: none;
}

[data-sd-quiz-progressbar] {
  display: none;
}

#alternative-container {
  margin: 14px;
  display: none;
}

@countdown-height: 200px;

@countdown-normal-from: 12em;
@countdown-normal-to: 6em;

@-webkit-keyframes countdown-animation {
  from { font-size: @countdown-normal-from; }
  to   { font-size: @countdown-normal-to; }
}
@-moz-keyframes countdown-animation {
  from { font-size: @countdown-normal-from; }
  to   { font-size: @countdown-normal-to; }
}
@-o-keyframes countdown-animation {
  from { font-size: @countdown-normal-from; }
  to   { font-size: @countdown-normal-to; }
}
@keyframes countdown-animation {
  from { font-size: @countdown-normal-from; }
  to   { font-size: @countdown-normal-to; }
}

.sound-duel-countdown {
  display: none;

  // Speed up animations on iPhone and Android (force GPU acceleration)
  // See: http://chrissilich.com/blog/fix-css-animation-slow-or-choppy-in-mobile-browsers/
  -webkit-transform: translateZ(0);

  -webkit-animation : countdown-animation 1s ease 4;
  -moz-animation    : countdown-animation 1s ease 4;
  -o-animation      : countdown-animation 1s ease 4;
  animation         : countdown-animation 1s ease 4;

  text-align: center;
  font-size: @countdown-normal-to;

  height:      @countdown-height;
  line-height: @countdown-height;
}

@countdown-smaller-from: 8em;
@countdown-smaller-to: 4em;

@-webkit-keyframes countdown-animation-smaller {
  from { font-size: @countdown-smaller-from; }
  to   { font-size: @countdown-smaller-to; }
}
@-moz-keyframes countdown-animation-smaller {
  from { font-size: @countdown-smaller-from; }
  to   { font-size: @countdown-smaller-to; }
}
@-o-keyframes countdown-animation-smaller {
  from { font-size: @countdown-smaller-from; }
  to   { font-size: @countdown-smaller-to; }
}
@keyframes countdown-animation-smaller {
  from { font-size: @countdown-smaller-from; }
  to   { font-size: @countdown-smaller-to; }
}

.sound-duel-countdown.smaller {
  -webkit-animation : countdown-animation-smaller 1s ease 1;
  -moz-animation    : countdown-animation-smaller 1s ease 1;
  -o-animation      : countdown-animation-smaller 1s ease 1;
  animation         : countdown-animation-smaller 1s ease 1;

  text-align: center;
  font-size: @countdown-smaller-to;

  height:      @countdown-height;
  line-height: @countdown-height;
}

// @media only screen and (max-width: @screen-sm-max) {
//  	@import "../custom-tiny.less";
// }

// @media only screen and (min-width: @screen-sm-min) {
// 	@import "../custom-small.less";
// }

@media (max-width: @screen-xs-max) {
  h1,h2 {
    margin-top:5px;
    margin-bottom:5px;
  }
  h1 {
    font-size:26px;
  }
  h2 {
    font-size:20px;
  }
}
